.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons {
  position: relative;
}
.screen-header__icons span {
  margin-left: 25px;
}
.point {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 18px;
  left: 70px;
  }
  .point2 {
    background-color: tomato;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 16px;
    left: 120px;
    }
  .info-mark {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 13px;
    font-weight: 900;
    color: rgba(255, 99, 71, 0.836);
    border: 2px solid rgba(255, 99, 71, 0.836);
    bottom: 16px;
    left: 115px;
  }
  